.App {
  text-align: center;
  background: linear-gradient(135deg,#4f2ec7 25%,#f72e98 90%,#f72e98 95%);
  height:100vh;
  overflow-y: scroll;
  color:#fff;
}
input {
  color:#fff!important;
}
label {
  color:#ddd!important;
}
p {
  color:#ccc!important;
}
fieldset {
  border-color: rgba(255, 255, 255, 0.23)!important;
}

.App-logo {
  height: 150px;
  max-width: 80%;
  margin:0 auto;
  pointer-events: none;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/ce/Star_wars2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom:14px;
}
.home {
  cursor: pointer;
  margin:10px;
  font-size: .8em;
  text-decoration: underline;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  display: block;
  background-color: rgba(0,0,0, .3);
  padding-top:20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
